NODE_ENV=local
PORT='3001'
WORKER_PORT='3002'
NETWORK=mainnet

POSTGRES_URL=postgres://root:1@localhost:5432/test

REDIS_URL=redis://foobared@localhost:6379/1

MINIO_ACCESS_KEY=development
MINIO_SECRET_KEY=password
BUCKET_NAME=development
MINIO_HOST=localhost
MINIO_PORT=9000

RPC=https://api.zan.top/eth-sepolia

KAFKA_BROKER=localhost:39092
KAFKA_TOPIC_PREFIX='prefix'

BLOCKVISION_API_KEY=key

KAFKA_RUNNING_FLAG=true