POSTGRES_USER=root
POSTGRES_PASSWORD=1
POSTGRES_DB=viral_bot
POSTGRES_PORT=5432

REDIS_PASSWORD=foobared
REDIS_PORT=6379

MINIO_ROOT_USER=development
MINIO_ROOT_PASSWORD=123456789
MINIO_PORT=32126
MINIO_CONSOLE_PORT=9001

ZOOKEEPER_PORT=2181

KAFKA_PORT=39092
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://localhost:39092

CLICKHOUSE_DB=viral_bot
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=1
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
CLICKHOUSE_PORT_HTTP=8123
CLICKHOUSE_PORT_TCP=9000